TELEGRAM_API_TOKEN=<YOUR_TELEGRAM_API_KEY>
YANDEX_API_SPEECH=<YOUR_YANDEX_API_SPEECH>
YANDEX_API_SPEECH_URL=https://tts.api.cloud.yandex.net/speech/v1/tts:synthesize
YANDEX_API_SPEECH_FOLDER_ID=<YOUR_YANDEX_API_SPEECH_FOLDER_ID>
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=admin
TYPEORM_DATABASE=db_migration
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=dist/**/*entity.js
TYPEORM_MIGRATIONS=dist/migrations/*.js
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_MIGRATIONS_TABLE_NAME=migrations